/* место для вашего кода */
.header {
    display: grid;
    height: 293px;
    grid-template-columns: 0.5fr 2.5fr 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    width:100%;
    grid-template-areas: ". nav a . address";
}
.nav{
    grid-area: nav;
}
.a{
    grid-area: a;
}
.address{
    grid-area: address;
    font-style: normal;
}
.address span{
    text-decoration: underline;
}
.logo-black{
    width: 148px;
    height: 105px;
}
.header ul{
    display: flex;
    gap: 30px;
}
.underline{
    text-decoration: underline;
}
.cover {
    box-sizing: border-box;
    margin-bottom: 90px;
    color: white;
    height: 757px;
    background-image: url('cover.jpg');
    background-size: cover;
}
.cover-black{
    flex-direction: column;
    background: rgba(0 0 0 / 0.5);
    height: 100%
}
.title-cover {
    padding-top: 165px;
    margin-left: 50px;
    height: 550px;
    width: 1000px;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    line-height: 114%;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.description{
    height: 51px;
    width: 1000px;
    margin-left: 50px;
    margin-top: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.description-text{
    font-size: 22px;
    word-spacing: 24px;
    text-transform: uppercase;
}
.button{
    width: 256px;
    height: 51px;
    color: white;
    background: none;
    border: solid 1px white;
    text-transform: uppercase;
    font-size: 22px;
}
.lot{
    margin-top: 90px;
    height: 723px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-lot{
    font-size: 40px;
    margin-left: 40px;
}
.ul-lots{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color:white;
}


.lot-1{
    background-image: url("card-lot-01.jpg");
    width: 334px;
    height: 596px;
    background-position: center;
    background-size: 171%;


}
.top-lot1{
    width: 254px;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    grid-area: top-lot1;
    align-self: center;
    justify-self: center;
}
.cover-lot1{
    background: rgba(0 0 0 / 0.5);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "top-lot1"
                         "."
                         "article-lot1";
}
.article-lot1{
    width: 254px;
    font-size: 20px;
    grid-area: article-lot1;
    align-self: center;
    justify-self: center;
}

.lot-2{
    background-image: url("card-lot-02.jpg");
    width: 334px;
    height: 596px;
    background-position: center;
    background-size: 171%;

}
.cover-lot2{
    background: rgba(0 0 0 / 0.5);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "top-lot2"
                         "article-lot2";
}
.top-lot2{
    width: 254px;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    grid-area: top-lot2;
    align-self: center;
    justify-self: center;
}
.article-lot2{
    margin-top: 8.23px;
    width: 254px;
    font-size: 20px;
    grid-area: article-lot2;
    align-self: center;
    justify-self: center;

}

.lot-3{
    background-image: url("card-lot-03.jpg");
    width: 334px;
    height: 596px;
    background-position: center;
    background-size: 171%;

}
.cover-lot3{
    background: rgba(0 0 0 / 0.5);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "top-lot3"
                          "."
                          "article-lot3";
}
.top-lot3{
    width: 254px;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    grid-area: top-lot3;
    align-self: center;
    justify-self: center;
}
.article-lot3{
    width: 254px;
    font-size: 20px;
    grid-area: article-lot3;
    align-self: start;
    justify-self: center;
}
.a-lot{
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
}
.about{
    margin-top: 90px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 3fr;
    height: 595px;
    grid-template-areas: "circle about-left"
                         ". about-left";
}
.circle{
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    grid-area: circle;
    align-self: center;
    justify-self: center;
}
.logo-2{
    height: 114px;
    width: 148px;
    margin: auto;
}
.about-left{
    grid-area: about-left;
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 17.5px;
}
.h1-about{
    font-size: 47px;
    margin-bottom: 0;
    align-self: end;
}

.first-p{
    align-self: end;
    font-size: 20px;
    width: 693px;
}
.second-p{
    font-size: 20px;
    width: 693px;
    align-self: center;
}
.footer{
    margin-top: 90px;
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: space-around;
}
.nav-footer{
    list-style: none;
}
.app{
    list-style: none;
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;

}
.youtube{
    height: 48px;
    width: 48px;
}
.VK{
    height: 48px;
    width: 48px;
}
.Pinterest{
    height: 48px;
    width: 48px;
}