.header {
    padding-top: 92px;
    padding-bottom: 92px;
    width:1100px;
}
.header-placement{
    display: flex;
    align-content: center;
    width: 1000px;
    margin-left: 50px;
    flex-wrap: wrap;
}
.nav{
    font-size: 18px;
    align-content: center;
    margin-right: 36px;
    text-wrap: nowrap;
    word-spacing: 5px;
}
.ul-nav{
    list-style: circle;
}
.li-nav{
    list-style-type: none;
}
.nav-top{
    text-decoration: none;
}
.address{
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    margin-left: 184px;
}
.logo-black{
    width: 148px;
    height: 105px;
}

.header ul{
    display: flex;
    gap: 30px;
}
.cover {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 180px;
    color: white;
    padding: 25px 0;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    z-index: 0;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0 0 0 / 0.5);
    z-index: 1;
}
.title-cover {
    position: relative;
    padding-top: 126px;
    margin-left: 50px;
    width: 1000px;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    line-height: 138px;
    z-index: 2;
}

.center{
    display: block;
    text-align: center;
    margin-right: -0.3em;
}
.right{
    display: block;
    text-align: right;
    margin-right: -0.3em;
}
.description{
    position: relative;
    width: 1000px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding-top: 91px;
    padding-bottom: 25px;
}
.description-text{
    font-size: 22px;
    word-spacing: 19px;
    text-transform: uppercase;

}
.button{
    width: 256px;
    height: 51px;
    color: white;
    background: none;
    border: solid 1px white;
    text-transform: uppercase;
    font-size: 22px;
}
.lot{
    margin-bottom: 90px;
    width: 1052px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
}
.title-lot{
    font-size: 40px;
    margin-left: 40px;
    text-transform: uppercase;
}
.lot-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 9px;
    margin-bottom: 29px;
}


.link-lot{
    text-decoration: none;
}
.card{
    margin-top: 20px;
    min-height: 596px;
    width: 334px;
    background-position: center;
    background-size: 171%;
    background-repeat: no-repeat;
    color:white;
    display: grid;
}
.cover-lot{
    background: rgba(0 0 0 / 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 0;
}

.card-title{
    width: 254px;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    align-self: center;
}
.card-text{
    width: 254px;
    font-size: 20px;
    line-height: 120%;
    align-self: center;
}
.image-film{
    background-image: url("../images/card-lot-01.jpg");
}
.image-book{
    background-image: url("../images/card-lot-02.jpg");
}
.image-painting{
    background-image: url("../images/card-lot-03.jpg");
}
.a-lot{
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
}
.about{
    margin-top: 120px;
    width: 1052px;
    margin-left: 24px;
    padding-top: 35px;
    display: flex;
    gap: 72px;
}
.circle{
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    margin-left: 47px;
}
.logo-white{
    height: 114px;
    width: 148px;
    margin: auto;
}
.title-about{
    margin-top: 97px;
    width: 693px;
    font-size: 40px;
    text-align: left;
    padding-bottom: 100px;
    text-transform: uppercase;
}

.about-text{
    font-size: 20px;
    line-height: 24px;
}
.top-modification{
    width: 688px;
}
.bottom-modification{
    width: 693px;
    margin-top: 24px;
}
.footer{
    width: 1000px;
    margin-left: 50px;
    margin-top: 180px;
    display: flex;
    padding-bottom: 84px;
    align-items: start;
    justify-content: space-between;
}
.address-footer{
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    width: 240px;
}
.nav-footer{
    list-style: none;
    text-align: center;
    font-size: 18px;
    width: 164px;

}
.apps{
    list-style: none;
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.app{
    height: 48px;
    width: 48px;
}