.header {
    display: grid;
    padding: 92px 0;
    grid-template-columns: 0.35fr 2.65fr 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    width:100%;
    grid-template-areas: ". nav a . address";
}
.nav{
    grid-area: nav;
    justify-self: center;
    font-size: 18px;
}
.ul-nav{
    list-style: circle;
}
.li-nav{
    list-style-type: none;
}
.nav-top{
    text-decoration: none;
}
.logo-link{
    grid-area: a;
}
.address{
    grid-area: address;
    font-size: 18px;
    font-style: normal;
    justify-self: center;
}
.logo-black{
    width: 148px;
    height: 105px;
}
.header ul{
    display: flex;
    gap: 30px;
}
.cover {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 180px;
    color: white;
    padding: 25px 0;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    z-index: 0;
}
.overlay{
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0 0 0 / 0.5);

    z-index: 1;
}
.title-cover {
    position: relative;
    padding-top: 90px;
    margin-left: 50px;
    padding-bottom: 10px;
    width: 1000px;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    line-height: 114.99999999999999%;
    z-index: 2;
}
.left{
    position: absolute;
    top: 165px;
    left: 0px;
}
.center{
    position: absolute;
    top: 300px;
    left: 330.5px;

}
.right{
    position: absolute;
    top: 435px;
    left: 613px;

}
.description{
    position: relative;
    width: 1000px;
    margin-left: 50px;
    margin-top: 106px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding-top: 252px;
}
.description-text{
    font-size: 22px;
    word-spacing: 20px;
    text-transform: uppercase;
}
.button{
    width: 256px;
    height: 51px;
    color: white;
    background: none;
    border: solid 1px white;
    text-transform: uppercase;
    font-size: 22px;
}
.lot{
    margin-bottom: 90px; /*aaa*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-lot{
    font-size: 40px;
    margin-left: 40px;
}
.lot-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color:white;
    flex-wrap: wrap;
    margin-top: 29px;
    margin-bottom: 29px;
}


.card {
    width: 334px;
    height: 596px;
    background-position: center;
    background-size: 171%;
}
.link-lot{
    text-decoration: none;
}
.image-first{
    background-image: url("../images/card-lot-01.jpg");
}
.image-second{
        background-image: url("../images/card-lot-02.jpg");
}
.image-third{
    background-image: url("../images/card-lot-03.jpg");
}
.cover-lot-first{
    background: rgba(0 0 0 / 0.5);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "top-lot1"
                         "."
                         "article-lot1";
}
.card-title-first{
    width: 254px;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    grid-area: top-lot1;
    align-self: end;
    justify-self: center;
}
.card-text-first{
    width: 254px;
    font-size: 20px;
    line-height: 120%;
    grid-area: article-lot1;
    align-self: center;
    justify-self: center;

}


.cover-lot-second{
    background: rgba(0 0 0 / 0.5);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "top-lot2"
                         "article-lot2";
}
.card-title-second{
    width: 254px;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    grid-area: top-lot2;
    align-self: end;
    justify-self: center;
}
.card-text-second{
    margin-top: 8.23px;
    line-height: 120%;
    width: 254px;
    font-size: 20px;
    grid-area: article-lot2;
    align-self: center;
    justify-self: center;
}


.cover-lot-third{
    background: rgba(0 0 0 / 0.5);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "top-lot3"
                          "."
                          "article-lot3";
}
.card-title-third{
    width: 254px;
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    grid-area: top-lot3;
    align-self: end;
    justify-self: center;
}
.card-text-third{
    width: 254px;
    font-size: 20px;
    line-height: 120%;
    grid-area: article-lot3;
    align-self: start;
    justify-self: center;
}
.a-lot{
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
}
.about{
    margin-top: 90px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr 3fr;
    height: 595px;
    grid-template-areas: "circle about-left"
                         ". about-left"
                         ". about-left";
}
.circle{
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    grid-area: circle;
    align-self: center;
    justify-self: start;
    margin-left: 30px;
}
.logo-second{
    height: 114px;
    width: 148px;
    margin: auto;
}
.about-left{
    grid-area: about-left;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    margin-bottom: 17px;
}
.title-about{
    font-size: 40px;
    align-self: center;
    margin-top: 45px;
    margin-left: 25px;
}

.about-text-top{
    margin-top: 25px;
    align-self: end;
    font-size: 20px;
    width: 693px;
    justify-self: end;
    margin-right: 15px;
}
.about-text-bottom{
    font-size: 20px;
    width: 693px;
    align-self: center;
    margin-top: 5px;
    justify-self: end;
    margin-right: 15px;
}
.footer{
    margin-top: 90px;
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: space-between;
}
.nav-footer{
    list-style: none;
    text-align: center;
    font-size: 18px;
}
.apps{
    list-style: none;
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.app{
    height: 48px;
    width: 48px;
}